* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  overflow-y: auto !important;
}

#dialog1 .css-1cennmq-MuiBackdrop-root-MuiDialog-backdrop {
  bottom: auto !important;
  left: auto !important;
}

#dialog1 .css-10d30g3-MuiPaper-root-MuiDialog-paper {
  margin: 0 !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}
.react-resizable-handle{
  background-image: none !important;
  height: 100% !important;
  padding: 0 !important;
}
.react-resizable-handle-e{
  transform: rotate(0) !important;
  top: 0 !important;
  margin-top: 0 !important;
  right: -9px !important;
}