* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  overflow-y: auto !important;
}

#dialog1 .css-1cennmq-MuiBackdrop-root-MuiDialog-backdrop {
  bottom: auto !important;
  left: auto !important;
}

#dialog1 .css-10d30g3-MuiPaper-root-MuiDialog-paper {
  margin: 0 !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}